body {
    font-family: Arial, sans-serif;
    background-color: #c1c0c0;
    margin: 0;
    padding: 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: rgb(163, 12, 12);
    border-radius: 50px;
    margin: 20px;
}

h3{
  color: #ffffff;
  
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 40px;
    margin-right: 10px;
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px 40px 20px;
}

h1 {
    text-align: center;
    margin: 30px 0;
}



.products-section{
    padding-bottom: 40px;
}

.section-title {
    font-size: 24px;
    color: rgb(186, 15, 15);
    margin: 30px 0 15px 0;
}

.products {
    display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 60px;
    margin-bottom: 40px;
}

.product {
    background: #f7f7f7;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.2s;
    
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
    height: 220px;
    object-fit:contain;
    border-radius: 8px;
}

.product-name {
    font-size: 20px;
    margin: 10px 0 5px;
}

.product-price {
    color: green;
    font-size: 18px;
    margin-bottom: 5px;
}

.product-description {
    font-size: 14px;
    color: #555;
    margin: 8px 0;
    min-height: 40px;
}

.product-rating {
    color: gold;
    font-size: 18px;
    margin-top: 5px;
}




footer {
    background-color: #b42525;
    text-align: center;
    padding: 15px;
    color: #fff;
}